Create markdown Cell with title of the notebook

# Data Science Tools and Ecosystem

Create a markdown cell for an introduction

In this notebook, Data Science tools and ecosystems are summarized.

Create a markdown cell to list data science languages

### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL 
    4. Julia

Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. MatplotLib
3. Pandas
4. Numpy

Create a markdown cell with a table of data science tools.

| Data Science Tools |
| ------------------ |
| Git |
| Hadoop |
| Jupyter Notebooks |

Create a markdown cell introducting arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Create a code cell to multiply and add numbers

In [3]:
(3*4)+5
#This is a simple arithmetic expression to multiply them add integers#

17

Create a code cell to convert minutes to hours.

In [4]:
minutes = 200  
hours = 200 // 60 
print (hours)

3

Insert a markdown cell to list Objectives

**Objectives:**
- List of Popular languages for Data Science
- List of Commonly Used Libraries
- Table of Data Science Tools
- Arithmetic Expressions Sample

Create a Markdown cell to indicate the Author's name

## Author
#### E.M. Salarda